<a href="https://colab.research.google.com/github/arcVaishali/ML-STUDY-JAM-TASKS/blob/main/Vaishali_ML_Study_Jam_TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TASK-1**
### Write a Python program to do the following operations:

Data set : https://drive.google.com/file/d/1-MwXqvMIXAWuBdLzAn187Nc7_FUDx3EX/view?usp=share_link

Library: Pandas

a) Loading data from CSV file

b) Compute the basic statistics of given data - shape, no. of columns, mean

c) Splitting a data frame on values of categorical variables

d) Indexing of the data.

e) Display top 10 rows of data

## (a.) LOADING DATA FROM CSV FILE

In [ ]:
import pandas as pd 
df  = pd.read_csv('/content/ML_study_jam.csv')
print(df)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

## (b.) COMPUTE BASIC STATISTICSOF GIVEN DATA -
i.) Shape

ii.) Number of columns

iii.) Mean

In [ ]:
#shape
print(df.shape)

(590, 5)

In [ ]:
#number of columns
tup = df.shape
no_columns = tup[1]
print("Number of columns:: ", no_columns)

print('\n')
print("Table Info")
print(df.info)

Number of columns::  5


Table Info
<bound method DataFrame.info of      Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]>

In [ ]:
#mean 
mean_ = df.mean()
print(mean_)

Store ID                  295.369048
Store_Area               1482.250426
Items_Available          1775.050086
Daily_Customer_Count      785.807229
Store_Sales             58223.865979
dtype: float64

## (c.)  SPLITTING A DATAFRAME ON VALUES OF CATEGORICAL VARIABLES

In [ ]:
groups=df.groupby('Daily_Customer_Count')

# here groups is a DataFrameGroupBy Object
# A categorical data is a data which has limited value for example Gender, Marital Status

for i,j in groups:
  print(i) 
  print(j)

## (d) INDEXING OF THE DATA.

In [ ]:
#printing row number-4 i.e. row with index 3 using 
#.loc accessor
row_no_3 = df.loc[3]
print("printing row number-4 i.e. row with index 3 using .loc accessor")
print(row_no_3) 
print("\n")

#printing item at rownumber 4 and column Store_Area
#.loc accessor
item = df.loc[3,'Store_Area']
print("#printing item at rownumber 4 and column Store_Area #.loc accessor")
print(item)
print("\n")

#printing item at row number 4 and column number 4
#.iloc method
item = df.iloc[3,3]
print("#printing item at row number 4 and column number 4#.iloc method")
print(item, end="\n") 
print("\n")

#printing column using [] opeartor
#[]
col = df['Store_Area'] 
print("#printing column using [] opeartor #[]")
print(col)
print("\n")

#printing multiple columns from given table
#using []
cols = df[['Store_Sales','Daily_Customer_Count', 'Store_Area']]
print("#printing multiple columns from given table #using []")
print(cols) 
print("\n")

#printing rows using boolean indexing
selected_rows = df[df['Daily_Customer_Count']==600.0]
print("#printing multiple columns from given table #using []")
print(selected_rows) 
print("\n")

#printing a portion of table / subset of DataFrame in the range of rows and columns using .loc
sel_rowXcol=df.loc[1:2,['Store_Area','Daily_Customer_Count']]
print("#printing a portion of given table/ subset of DataFrame in the range of rows and columns using .loc")
print(sel_rowXcol)  
print("\n")

#printing a portion of table/ subset of DataFrame in the range of rows and columns using .iloc
sel_rowXcol = df.iloc[1:2,[1,2]]  
print("#printing a portion of table/ subset of DataFrame in the range of rows and columns using .iloc")
print(sel_rowXcol) 
print("\n")

printing row number-4 i.e. row with index 3 using .loc accessor
Store ID                    4.0
Store_Area               1451.0
Items_Available          1748.0
Daily_Customer_Count      620.0
Store_Sales             53730.0
Name: 3, dtype: float64


#printing item at rownumber 4 and column Store_Area #.loc accessor
1451.0


#printing item at row number 4 and column number 4#.iloc method
620.0


#printing column using [] opeartor #[]
0      1659.0
1      1461.0
2      1340.0
3      1451.0
4      1770.0
        ...
585    1227.0
586    1609.0
587    1553.0
588    1814.0
589    1240.0
Name: Store_Area, Length: 590, dtype: float64


#printing multiple columns from given table #using []
     Store_Sales  Daily_Customer_Count  Store_Area
0        66490.0                 530.0      1659.0
1        39820.0                 210.0      1461.0
2        54010.0                 720.0      1340.0
3        53730.0                 620.0      1451.0
4        46620.0                 450.0      1770.0
..           ...                   ...         ...
585      56260.0                 720.0      1227.0
586      76470.0                 740.0      1609.0
587      35680.0                 740.0      1553.0
588      90070.0                 770.0      1814.0
589      33120.0                 590.0      1240.0

[590 rows x 3 columns]


#printing multiple columns from given table #using []
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
41        42.0       965.0           1152.0                 600.0      48140.0
62        63.0      1472.0           1748.0                 600.0      49100.0
79        80.0      1462.0           1761.0                 600.0      65660.0
91        92.0      2169.0           2617.0                 600.0      67080.0
304      305.0      1092.0           1314.0                 600.0      76530.0
394      395.0      1209.0           1464.0                 600.0      36740.0
537      538.0      1601.0           1920.0                 600.0      61000.0


#printing a portion of given table/ subset of DataFrame in the range of rows and columns using .loc
   Store_Area  Daily_Customer_Count
1      1461.0                 210.0
2      1340.0                 720.0


#printing a portion of table/ subset of DataFrame in the range of rows and columns using .iloc
   Store_Area  Items_Available
1      1461.0           1752.0

## (e.) DISPLAY TOP 10 OF DATA

In [ ]:
print(df.head(10))

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1.0      1659.0           1961.0                 530.0      66490.0
1        2.0      1461.0           1752.0                 210.0      39820.0
2        3.0      1340.0           1609.0                 720.0      54010.0
3        4.0      1451.0           1748.0                 620.0      53730.0
4        5.0      1770.0           2111.0                 450.0      46620.0
5        6.0      1442.0           1733.0                 760.0      45260.0
6        7.0      1542.0           1858.0                1030.0      72240.0
7        8.0      1261.0           1507.0                1020.0      37720.0
8        9.0      1090.0           1321.0                 680.0      46310.0
9       10.0      1030.0           1235.0                1130.0      44150.0